export GSB_SERVICE_CSB_GOOGLE_POSTGRES_PLANS='[{"name":"small","id":"5b45de36-cb90-11ec-a755-77f8be95a49d","description":"PostgreSQL with default version, shared CPU, minimum 0.6GB ram, 10GB storage","metadata":{"displayName":"small"},"tier":"db-f1-micro","storage_gb":10},{"name":"medium","id":"a3359fa6-cb90-11ec-bcb6-cb68544eda78","description":"PostgreSQL with default version, shared CPU, minimum 1.7GB ram, 20GB storage","metadata":{"displayName":"medium"},"tier":"db-g1-small","storage_gb":20},{"name":"db-custom-2-7680","id":"5f9a82f3-8b0a-4bbd-9a00-7ba9a3c0098d","postgres_version":"POSTGRES_15","description":"PostgreSQL 15, 2 CPU, 8GB ram, 100GB storage","metadata":{"displayName":"db-custom-2-7680"},"tier":"db-custom-4-15360","storage_gb":100}]'
export GSB_SERVICE_CSB_GOOGLE_MYSQL_PLANS='[{"name":"default","id":"eec62c9b-b25e-4e65-bad5-6b74d90274bf","description":"Default MySQL v8.0 10GB storage","metadata":{"displayName":"default"},"mysql_version":"MYSQL_8_0","storage_gb":10,"tier":"db-n1-standard-2"}]'
export GSB_SERVICE_CSB_GOOGLE_STORAGE_BUCKET_PLANS='[{"name":"default", "id":"2875f0f0-a69f-4fe6-a5ec-5ed7f6e89a01", "region": "us", "description":"Cloud Storage Bucket service with default configuration","metadata":{"display_name":"default"}}]'
# We keep the old Redis plans to be able to execute two examples (see service definition):
#  * Cloud Memorystore for Redis service with no failover.
#  * Cloud Memorystore for Redis service with automatic failover.
export GSB_SERVICE_CSB_GOOGLE_REDIS_PLANS='[{"name":"basic","id":"2ed1d5b7-b21b-41ec-8da4-397a6b124484","description":"Cloud Memorystore for Redis service with no failover","metadata":{"display_name":"basic"},"service_tier": "BASIC"},{"name":"ha","id":"366b6758-11c0-4892-9aa1-6e4b7bd8b974","description":"Cloud Memorystore for Redis service with automatic failover","metadata":{"display_name":"ha"},"service_tier": "STANDARD_HA"}]'
export GSB_SERVICE_CSB_GOOGLE_PUBSUB_PLANS='[{"name":"default","id":"0690bcd8-e29e-4317-9387-f8152501403d","description":"PubSub service with topic ans subscription","metadata":{"display_name":"default"}}]'
export PAK_BUILD_CACHE_PATH=/tmp/.pak-cache
export GSB_COMPATIBILITY_ENABLE_BETA_SERVICES=true
export TERRAFORM_UPGRADES_ENABLED=true
export BROKERPAK_UPDATES_ENABLED=true
